.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    color: #ffffff;
    background-color: #051c33;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    flex-wrap: wrap;
    text-decoration: inherit;
}